.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 30px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.4s ease, bottom 0.4s ease;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
